* {
  font-size: 1em;
}

body {
  background-color: #272727;
  font-family: 'Source Code Pro', monospace;
}

a, a:visited, a:link {
  color: white;
}

.cmd-prompt::before {
  content: "lucasbraganca@your-browser:~$ ";
  color: #4AF626;
}

.cmd-prompt {
  color: white;
  
}

.cmd-output {
  color: white;
  padding-left: 0;
  list-style-type: none;
}

.cmd-output--list {
  display: grid;
  list-style-type: none;
}

.cmd-prompt-input {
  background: white;
  display: inline-block;
  animation: blink 1s ease-in-out infinite;
  -webkit-animation: blink 1s ease-in-out infinite;
}

@media screen and (max-width: 700px) {
  .cmd-output--list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .cmd-output--list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .cmd-output--list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0; }
}