body {
  background-color: #272727;
  font-family: 'Source Code Pro', monospace;
}

a:visited {
  color: white;
}

.cmd-prompt::before {
  content: "lucasbraganca@your-browser:~$ ";
  color: #4AF626;
}

.cmd-prompt {
  color: white;
  font-size: 1.2em;
}

.cmd-output {
  color: white;
  padding-left: 0;
  font-size: 1.2em;
  list-style-type: none;
}

.cmd-output--list {
  display: grid;
  list-style-type: none;
}

.cmd-prompt-input {
  width: 1.2em;
  background: white;
  animation: blink 1s ease-in-out infinite;
}

@media screen and (max-width: 700px) {
  .cmd-output--list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .cmd-output--list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .cmd-output--list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes blink {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}


